.chevron {
	font-size: 16px;
	color: #fff;
	position: absolute;
	bottom: 6px;
	right: 40px;
}

.p-footer {
	padding-top: 5px;
}

.hom{
	border-right: solid;
	border-width: 2px;
	border-color: #fff;
}

.link{
	color: #fff;
	text-decoration: none;
}
.link:hover{
	color: #fff;
	text-decoration: none;
}

.link-as-text{
	color: #fff;
}
.link-as-text:hover{
	color: #fff;
}

.card-color{
	background-color:   #5d6d7e;
}

.down{
	padding: 1em;
}

.side-bar {
	height: 100vh;
}

.m-cont {
	margin-left: 16.66%;
}

nav.navbar {
	box-shadow: 0px 0px 15px 0px #212529;
}

.search {
	width: 80%;
}

.rounded-right-0 {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

@media screen and (max-width: 796px) {
	.search {
		width: 100%;
	}
}

.mb-6 {
	margin-bottom: 6rem;
}

.mh-38 {
	max-height: 38px;
}

.selects {
	width: 100%;
}

.pie{
  background-color: #212529;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 33px;
  color: white;
  box-shadow: 10px 10px 19px 10px #212529;
}

.ha{
	box-shadow: 0 0 0 .2rem #ec7063;
}

.pading{
	padding-top: 1em;
}

.info-user{
	border-bottom: dashed;
	border-color: gray;
	padding-bottom: 2em;
	border-width: 2px;
}

.eventos{
	padding-top: 1em;
}

.in-center{
	padding-left: 15%;
	padding-right: 15%;
}

.drop-goups{
	float: left;
	padding-right: 2em;
	padding-left: 2em;
	padding-bottom: 1em;
	text-align: left;
}

.btn-right{
	float: right;
	padding-bottom: 1em;
	padding-right: 1em;
}

.name-list{
	float: left;
	padding-right: 3em;
	width: 350px;
	max-width: 400px;
	text-align: left;
}
.check-list{
	float: right;
}

.r-table{
	padding-left: 15px;
	padding-right: 5px;
	float: left;
}

.box-difuse{
	box-shadow: 0px 0px 10px 15px black;

}

/*******
LOGO SECCION LAYOUT
*********/
.logo{
	margin-left: 36%;
	max-width: 33%;
	position:fixed;
	color: #fff;
	text-decoration-color: #ffffff;
}


/*******
COMPONENTES DE FORMULARIO - MAESTRO
*********/
.form-link{
	color: #fff;
}

.weekDays-selector input {
  display: none!important;
}

.weekDays-selector input[type=checkbox] + label {
  display: inline-block;
  border-radius: 40%;
  background: #dddddd;
  height: 40px;
  width: 40px;
  margin-right: 3px;
  line-height: 40px;
  text-align: center;
  cursor: pointer;
}

.weekDays-selector input[type=checkbox]:checked + label {
  background: #2AD705;
  color: #ffffff;
}

.number-pick{
	max-width: 100px;
}




 /* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 39px;
	height: 19px;
	margin-bottom: .2rem;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 17px;
  width: 17px;
  left: 1px;
  bottom: 1px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(24px);
  -ms-transform: translateX(24px);
  transform: translateX(20px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
} 


/*Modal section teacher - atendance module*/
.modal-mask {
	position: fixed;
	z-index: 9998;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, .5);
	display: table;
	transition: opacity .5s ease;
  }
  
  .modal-wrapper {
	display: table-cell;
	vertical-align: middle;
  }

  .modal-header {
	margin-top: 0;
	color: #42b983;
  }
  
  .modal-body {
	margin: 20px 0;
  }
  /*
   * The following styles are auto-applied to elements with
   * transition="modal" when their visibility is toggled by Vue.js.
   *
   * You can easily play with the modal transition by editing these styles.
   */
  
  .modal-enter {
	opacity: 0;
  }
  
  .modal-leave-active {
	opacity: 0;
  }
  
  .modal-enter .modal-container,
  .modal-leave-active .modal-container {
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
  }








