<template>
    <!--MODAL PARA TOMAR ASISTENCIA - INICIO-->
<script type="text/x-template" >
	<transition name="modal" id="modal-template">
		<div class="modal-mask">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="" id="exampleModalLongTitle">Lista de Asistencia</h5>
						<button type="button" class="close"  aria-label="Close"  @click="$emit('close')">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<p><strong>asasasa</strong></p>
						<table class="table table-sm table-hover">
							<thead>
								<tr>
									<th>N° Cuenta</th>
									<th>Nombre</th>
									<th></th>
								</tr>
							</thead>
							<tbody>
								<tr >
									<th>asas</th>
									<td>123456</td>
									<td>
										<label class="switch">
										<input type="checkbox"><span class="slider round"></span>
										</label>
									</td>
								</tr>
								<!--<tr>(student,index) in studentsSelectedList" :key="`student-${index}`
									<th>0123456789</th>
									<td>Negrito Azabache Tostado</td>
									<td>
										<label class="switch">
										<input type="checkbox"><span class="slider round"></span>
										</label>
									</td>
								</tr>-->
							</tbody>
						</table>
						<div class="modal-footer">
							<button type="button" class="btn btn-outline-primary btn-sm" @click="$emit('save_attendance')">Registrar asistencias</button>
							<button type="button" class="btn btn-outline-danger btn-sm"  @click="$emit('close')">Cancelar</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</transition>
<!--MODAL PARA TOMAR ASISTENCIA - FIN-->
</template>

<script>
export default {
    data(){
        return{
            information : ''
        }
    },
    created(){
        console.log('this is my');
    }
}
</script>
